@font-face {
    font-family: 'Billiers';
    src: url('../../node_modules/font-awesome/fonts/Billiers-Regular.eot');
    src: url('../../node_modules/font-awesome/fonts/Billiers-Regular.eot?#iefix') format('embedded-opentype'),
        url('../../node_modules/font-awesome/fonts/Billiers-Regular.woff2') format('woff2'),
        url('../../node_modules/font-awesome/fonts/Billiers-Regular.woff') format('woff'),
        url('../../node_modules/font-awesome/fonts/Billiers-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

